.containerPage11GrandMere{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.divProvisoire{
    position: absolute;
}
.tableau{
    height: 100%;
    object-fit: contain;
    max-height: 70vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.boutonSuivantContainer {
    position: absolute;
    right: 2%;
    top: 50%;
    transition: transform 330ms ease-in-out;
}

.boutonSuivantContainer:hover {
    transform: translateX(-20px);
    cursor: pointer;
}