.blur{
    filter: blur(10px);
}
.Image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
}
.BackgroundImageContainer{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}
.BrownColor{
    background-color: #4C2209;
    opacity: 0.55;
}
.GreyColor{
    background-color: #D9D1CC;
    opacity: 0.08;
    filter: blur(10px) brightness(24%);
}
.divColor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}