.containerCarteImage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*phone only*/
@media (max-width: 599px) {
 

  }
  
  /*tablet portrait up*/
  @media (max-width: 600px) {
    .imageCarte {
        width: 80%;
    }
  }
  
  /*tablet landspace up*/
  @media (max-width: 1100px) {
  
  }
  /*desktop up*/
  @media (min-width: 1200px) {
    
    
  }
  @media (max-width: 1800px) {
   
      
  }