.containerCarteImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.imageCarte{
  height: 100%;
  object-fit: contain;
  max-height: 70vh;
  max-width: 70vw;

  position: absolute;
}

.containerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickableArea {
  width: 90px;
  height: 90px;
  position: relative;
  left: -75px;
  top: 35px;
  cursor: pointer;
}

.clickableArea :hover{
  backdrop-filter: blur(0.5px);
}

.hintCarnet {
  position: absolute;
  right: 5.5%;
  top: 13%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
 
}


.hintText {
  width: 200px;
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 14px;
  letter-spacing: 1px;
  color: #D9D1CC;
}

.containerPage1Carte{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
