.containerPage9GravurePoussiere{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageContainer{
    height: 100%;
    object-fit: contain;
    max-height: 70vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.imageGravure{
    height: 100%;
    max-width: 70vw;
    object-fit: contain;
}
.texture{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}
.textureColor{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.83;
    background-color: #434134;
}
@media screen and (max-width: 551px) {
    .imageGravure{
        height: 92vw;
    }
    .texture{
        height: 92vw;
    }
    .textureColor{
        height: 92vw;
    }
}
.divProvisoire{
    position: absolute;
}