.containerPage2Musee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.tableau{
    height: 100%;
    object-fit: contain;
    max-height: 70vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clickableArea {
    width: 172px;
    height: 118px;
    position: absolute;
    left: 29%;
    top: 15%;
    cursor: pointer;
}


.divProvisoire{
    position: absolute;
}

