.containerPage2Musee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.tableau{
    height: 100%;
    object-fit: contain;
    max-height: 70vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clickableArea {
    width: 95px;
    height: 84px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 150px;
    top: -650px;
    cursor: pointer;
}


.divProvisoire{
    position: absolute;
}

