.containerPage2Musee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.tableau{
    height: 100%;
    object-fit: contain;
    max-height: 70vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.divProvisoire{
    position: absolute;
}

