.containerPage12Final{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boutonSuivantPage12 {
    z-index: 1;
}

.imgFinal{
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 50%;
    z-index: 0;
}

.finaltext{
    color: #FFFDF1;
    width: 75vw;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif !important;
    letter-spacing: 0.1vw;
    padding: 50px;
    background-color: RGBA(0,0,0,0.60);
    border: double RGBA(217,209,204,0.68);
    border-radius: 12px;
    align-items: center;
    z-index: 5;
}

