// Style paragraphe

.homedesc{
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 18px;
    color: #4C2209;
    letter-spacing: 0.1vw;
    width: 60vw;
}

.homeprenom{
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 18px;
    color: #4C2209;
    position: absolute;
    bottom: 10px;
    left: 20%;
    letter-spacing: 0.1vw;
    width: 60vw;
    text-align: center;
}

// Stylysation du bouton

.beginbutton button{
    border-style: double;
    border-width: 5px 5px;
    border-radius: 5px;
    border-color: #4C2209;
    color: #4C2209;
    font-family: 'Cormorant Garamond', serif !important;
    letter-spacing: 1px;
    font-size: 18px;
    background: none;
    padding: 16px 30px 16px 30px;
}

// Lignes à côté du bouton démarrer

svg{
    margin: 0 15px;
}

// Background + disposition

.titlescreen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 40px;
    color: #4C2209;
}

// Titre

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;

    h1{
        margin-bottom: 30px;
    }
}

// Disposition bouton

.begin-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// .animFadeIn {
    
//     animation: fadein 2s;
//     -moz-animation: fadein 2s; /* Firefox */
//     -webkit-animation: fadein 2s; /* Safari et Chrome */
//     -o-animation: fadein 2s; /* Opera */

//     transition: all duration 2s;
// }

.link{
    text-decoration: none;
    color: aliceblue;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
