.Button {
    text-decoration: none;
    font-family: MadeMirage;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 600px;
    align-items: center;
    color: hsl(22, 79%, 17%);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(99, 135, 191, 0.01);
    transition-property: background-color 5s ease-in-out 5s;
    transition-duration: 500ms;
    border: double hsl(22, 79%, 17%)
}

.Button:hover {
    color: #FFFDF1;
    background-color: hsl(22, 79%, 17%);
}



