.ContainerBox {
    width: 80vw;
    height: 16vh;
    display: flex;
   
    background-color: RGBA(0,0,0,0.58);
    border: double RGBA(217,209,204,0.68);
    border-radius: 12px;
    align-items: flex-end;
    margin-bottom: 45px;
    align-items: center;
}


.Containertext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;



}
.namePerso {
    text-decoration: none;
    font-family: MadeMirage;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: #FFFFFF;
    margin-left: 40px;
}

.corpsBoxText {
    text-decoration: none;
    font-family: MadeMirage;
    font-weight: 350;
    font-size: 16px;
    display: flex;
    color: #FFFFFF;
    margin-left: 40px;
}