.containerTutoriel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorielText {
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 18px;
    width: 60vw;
    color: #4C2209;
    letter-spacing: 0.1vw;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin-top: 150px;

}

.buttonContainer {
    margin-top: 13vh;
    font-family: "Mirage";
    font-size: 14px;
    color: #4C2209;
    letter-spacing: 0.1vw;
    text-align: center;
}

.animFadeIn {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.hintTuto {
    position: absolute;
    right: 3vw;
    top: 13%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }
  
  
.hintTextTuto {
    width: 260px;
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: #4C2209;
    margin-top: 20px;
    text-align: center;
}
  