.containerTutoriel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorielText {
    font-family: "Mirage";
    font-size: 18px;
    width: 60vw;
    color: #4C2209;
    letter-spacing: 0.1vw;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin-top: 150px;

}

.buttonContainer {
    margin-top: 13vh;
    font-family: "Mirage";
    font-size: 14px;
    color: #4C2209;
    letter-spacing: 0.1vw;
    text-align: center;
}