.containerPage5Salon{
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxtextwrapper{
    max-width: 87vw;
    bottom: 20px;
}