.containerPage5Salon{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BoxText{
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: center;
    width: 100%
}