.containerPage6Pendu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hintTuto {
    position: absolute;
    right: 3vw;
    top: 13%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }
  
  
  .hintTextTuto {
    width: 260px;
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: #4C2209;
    margin-top: 20px;
    text-align: center;
  }
  

.btnContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.img {
    cursor: pointer;
}

.boutonSuivantContainer {
    position: absolute;
    right: 2%;
    top: 50%;
    transition: transform 330ms ease-in-out;
}

.boutonSuivantContainer:hover {
    transform: translateX(-20px);
    cursor: pointer;
}

.animFadeIn {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */

    transition: all duration 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}