.containerPage6Pendu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btnContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.btn {
    width: 40vw;
    margin: 10px;
}

.img {
    margin-left: 21%;
}

.animFadeIn {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */

    transition: all duration 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}