.containerPage7Suie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.ContainerInput {
    margin-top: 100px;
    margin-bottom: 40px;
}



.ContainerImage {
  
    display: flex;
    justify-content: center;
    
}

.ImagePage7 {
    width: 65%;
}

.ContainerBoxText {
    margin-top: 10px;
}