.containerPage7Suie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-height: 100vh;
    
}


.ContainerInput {
    margin-top: 45px;
    margin-bottom: 40px;
}




.imagePage7 {
    display: flex;

   
}

.boutonSuivantPage7 {
    margin-top: 17vh;
}

