.containerPage7Suie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin:0;
    padding:0;
}


.ContainerInput {
    margin-top: 100px;
    margin-bottom: 40px;
}







.ContainerBoxText {
    margin-top: 10px;
}

.imgPage7 {
    background-image: url(./img/tableauPage7.jpg);
}