.ContainerCarnetOff{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform: translatey(100vh);
    transition: transform 700ms;
}

.ContainerCarnetOn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform: translatey(10vh);
    transition: transform 700ms;
}

.Carnet{
    width: 75vw;
}

.fleche{
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleche img{
    width: 40%;
    cursor: pointer;
}

.Carnet img {
    width: 100%;
}

@media (max-width: 1300px) {
    .ContainerCarnetOn{
        transform: translatey(20vh);
    }
  }

@media (max-width: 800px) {
    .ContainerCarnetOn{
        transform: translatey(40vh);
    }
  }




