/* Global styles */
//@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* variables */
// @font-face {
//   font-family: 'Regis';
//   src: local('Regis'), url(./fonts/Regis-SemiBold.ttf) format('truetype');
// }

// @font-face {
//   font-family: "MirageBlack";
//   font-weight: 700;
// 	src: url(./fonts/madeMirage/MadeMirageBlack.otf) format('opentype');
// }
// @font-face {
// 	font-family: "MirageBold";
// 	font-weight: 500;
// 	src: url(./fonts/madeMirage/MadeMirageBold.otf) format('opentype');
// }
// @font-face {
// 	font-family: "MirageMedium";
// 	font-weight: normal;
// 	src: url(./fonts/madeMirage/MadeMirageMedium.otf) format('opentype');
// }

// @font-face {
// 	font-family: "Mirage";
// 	font-weight: 300;
// 	src: url(./fonts/madeMirage/MadeMirage.otf) format('opentype');
// }

// @font-face {
// 	font-family: "MirageThin";
// 	font-weight: 200;
// 	src: url(./fonts/madeMirage/MadeMirageThin.otf) format('opentype');
// }

*{
	font-family: 'Cormorant Garamond', serif !important;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


