.containerPrologue{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .desc{
        font-family: 'Mirage';
        font-size: 18px;
        color: #4C2209;
        letter-spacing: 0.1vw;
        width: 60vw;
        text-align: center;
        }
}

.boutonSuivantContainer {
    position: absolute;
    right: 2%;
    top: 50%;
    transition: transform 330ms ease-in-out;
}

.boutonSuivantContainer:hover {
    transform: translateX(-20px);
    cursor: pointer;
}




.scracthpaper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Imagecitation{
    width: 500px;
}

.citation{
    position: absolute;
    font-family: 'MirageBold';
    font-size: 14px;
    color: #4C2209;
    letter-spacing: 0.1vw;
    width: 60vw;
    text-align: center;
    transform: rotate(-5deg);
}

.animFadeIn {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */

    transition: all duration 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
