.containerPage4Loupe{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        img{
            margin-top: 100px;

        }
}